{{!-- <h2>Edit to do</h2>

{{#if post}}
{{#each post}}

<form action="/post/{{post.id}}?_method=PUT" method="post">
    <p class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{post.name}}" class="form-control">
    </p>
    <p class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="" cols="30" rows="10" class="form-control">{{post.description}}</textarea>
    </p>
    <div class="form-row mb-3">
        <div class="col">
            <label for="status">Status:</label>
            <input type="text" name="status" id="status" class="form-control" value="{{post.status}}">
        </div>
        <div class="col">
            <label for="priority">Priority:</label>
            <input type="text" name="priority" id="priority" class="form-control" value="{{post.priority}}">
        </div>
    </div>
    <p class="form-group">
        <input type="submit" value="Save" class="btn btn-primary">
    </p>
</form>
{{/else}} --}}

<h2 class="mb-3">Items:</h2>

{{#if posts}}
{{#each posts}}
<div class="card">
    <div class="card-content">
        <span class="card-title">
            {{ content }}
        </span>
    </div>
</div>
{{/each}}
{{/if}}

{{#if currentResponse}}
<div class="card">
    <div class="card-content">
        <h4 class="card-title">Add a response:</h6>
            <form method="POST" action="/post/{{id}}?_method=PUT" class="row">
                <p class="input-field inline col s10">
                    <label for="content"></label>
                    <input type="text" name="content" id="">
                </p>
                <p class="input-field inline col s2">
                    <input class="btn" type="submit" value="Submit">
                </p>
            </form>
    </div>
</div>
{{/if }}