<div class="card">
    <div class="card-body">
        <p>Name: {{post.name}}</p>
        <p>Description: {{post.description}}</p>
        <p>Status: {{post.status}}</p>
        <p>Priority: {{post.priority}}</p>
        <p>Special Instructions: {{post.instructions}}</p>
    </div>
    <div class="card-footer">
        <a href="/post/{{post.id}}/edit" class="btn btn-warning text-white">Edit</a>

        <form action="/post/{{post.id}}?_method=DELETE" method="post" class="d-inline">
            <input type="submit" value="Delete" class="btn btn-danger">

            <a href="/response/{{post.id}}" class="btn btn-success text-white">Response</a>

        </form>
    </div>
</div>

<div>
    <div class="card">
        <div class="card-body">
            {{#each responses}}
            <div>Post Id: {{_id}}</div>
            <div>Response: {{response}}</div>
            <div>Availability: {{availability}}</div>
            {{/each}}
        </div>