<h2 class="mb-6">Request for Hand eJob</h2>

<form class="example" action="/post/new">
    <input type="text" placeholder="Type in your new Hand eJob, e.g. Laundry Help..." name="search" size="100">
</form>
<br>
</form>

<div class="card">
    {{#if posts }}
    {{#each posts }}
    <div class="card-body">
        <p>Name: {{name}}</p>
        <p>Description: {{description}}</p>
        <p>Status: {{status}}</p>
        <p>Priority: {{priority}}</p>
        <p>Special Instructions: {{instructions}}</p>
        <div class="card-footer">
            <a href="/post/{{id}}" class="card-link">View More</a>
        </div>
    </div>
    {{/each}}
    {{/if}}

    <form class="">
        <div class="card-deck mt-5">
            <div class="card">
                <div class="card-body">
                    <a href="/post/new" class="btn btn-success">Add a new Hand eJob</a>
                </div>
            </div>
        </div>
</div>
</form>